#menu-title {
    width: 600px; 
    font-size: 2em;
}

#menu-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px; 
}


.section-title {
    font-size: 28px;
}

p {
    font-size: 18px;
}
    
#menu-container {
    margin-top: -50px;
}
