/*
Title: asomugha-future-value.css
    Author: Professor Krasso
    Date: 12 February 2023
    Modified By: Anachebe Asomugha
    Description: CSS styling for WEB 330 Assignment 6.2
                 Future Value App
*/

/* Styling for future value assignment */
.danger {
    float: right;
    color: #DF546A;
    font-size: 12px;
    letter-spacing: 2px;
}

.form-label {
    display: inline-block;
    padding-top: 1rem;
}